node_modules
.git
.gitignore
*.md
README.md
*.log
.tmp**

# Go
backend/monitor
backend/monitor.exe
backend/public

# Frontend
frontend/node_modules
frontend/.next
frontend/out
frontend/.turbo

# OS
.DS_Store
Thumbs.db
